﻿@using Gestionale_Pizzeria.Models
@model Utenti

@{
    ViewBag.Title = "Login";
}
<div>
    <h2>Login</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (TempData["ErrorLogin"] != null)
        {
            <div class="alert alert-danger">
                Le credenziali non sono corrette
            </div>
        }

        <div class="mb-3">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg", placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color: red" })
        </div>

        <div class="mb-3">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color: red" })
        </div>

        <button type="submit" class="btn btn-primary">Login</button>

        <p class="mb-5 mt-3" style="color: #393f81;">
            <span class="text-black">Non hai un account?</span>
            @Html.ActionLink("Registrati", "Register", "Auth", null, new { style = "color: #393f81;" })
        </p>
    }
</div>