@model Gestionale_Pizzeria.Models.Prodotti

@{
    ViewBag.Title = "DettagliProdotto";
}

<div class="container">
    <h4 class="text-center mb-4">Dettagli Prodotto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd class="dd-value">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd class="dd-value">
            <img src="~/Content/imgs/@Model.Foto" class="card-img-top" style="max-height: 200px; max-width: 200px" alt="@Model.Foto">
        </dd>

        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd class="dd-value">
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.TempoConsegna)
        </dt>

        <dd class="dd-value">
            @Html.DisplayFor(model => model.TempoConsegna)
        </dd>

        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Ingredienti)
        </dt>

        <dd class="dd-value">
            @Html.DisplayFor(model => model.Ingredienti)
        </dd>

    </dl>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("ModificaProdotto", new { id = Model.IdProdotti })" class="btn btn-warning btn-block">Modifica</a>
            </div>
            <div class="col-md-6">
                <a href="@Url.Action("ListaProdotto")" class="btn btn-secondary btn-block">Ritorna alla lista</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-4">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-block">Ritorna alla Home</a>
    </div>
}
